## Importing neccesary libraries

In [1]:
import pandas as pd
import numpy as np

## Importing the dataset

In [2]:
raw_dataset = pd.read_csv('adult.data')
raw_dataset

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
#dataset = raw_dataset
#for column in raw_dataset.columns:
#    dataset = dataset[dataset[column] != '?']

## Replacing missing values in a column with the most frequent value in the column

In [4]:
dataset = raw_dataset
for column in raw_dataset.columns:
    dataset[column] = dataset[column].replace(['?'], [dataset[column].value_counts().index[0]])

In [5]:
dataset

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

## Converting all Continuos columns to Categorical columns for Naive Bayes Classifier

In [6]:
dataset['age'] = pd.cut(dataset['age'], [17, 20, 30, 40, 50, 60, 70, 80, 90], right=True, labels=[1, 2, 3, 4, 5, 6, 7, 8], include_lowest=True)

In [7]:
dataset['age'].value_counts()

3    8546
2    8162
4    6983
5    4128
1    2410
6    1792
7     441
8      99
Name: age, dtype: int64

In [8]:
dataset['hours-per-week'] = pd.cut(dataset['hours-per-week'], [1, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100], right=True, labels=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], include_lowest=True)

In [9]:
dataset['hours-per-week'].value_counts()

4     17735
5      5938
6      2533
3      2317
2      2192
1       736
7       612
8       290
10      110
9        98
Name: hours-per-week, dtype: int64

In [10]:
dataset['fnlwgt'] = pd.cut(dataset['fnlwgt'], [0, 150000, 300000, 450000, 600000, 750000, 900000, 1050000, 1200000, 1350000, 1500000], right=True, labels=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], include_lowest=True)

In [11]:
dataset['fnlwgt'].value_counts()

2     16177
1     11972
3      3769
4       501
5       104
6        18
7        10
8         5
10        3
9         2
Name: fnlwgt, dtype: int64

In [12]:
dataset['capital-gain'] = pd.cut(dataset['capital-gain'], [0, 1, 20000, 40000, 80000, 100000], right=True, labels=[1, 2, 3, 4, 5], include_lowest=True)

In [13]:
dataset['capital-gain'].value_counts()

1    29849
2     2459
5      159
3       92
4        2
Name: capital-gain, dtype: int64

In [14]:
dataset['capital-loss'] = pd.cut(dataset['capital-loss'], [0, 1, 1000, 2000, 3000, 4000, 5000], right=True, labels=[1, 2, 3, 4, 5, 6], include_lowest=True)

In [15]:
dataset['capital-loss'].value_counts()

1    31042
3     1158
4      314
2       36
5        8
6        3
Name: capital-loss, dtype: int64

In [16]:
dataset['target'].replace(['>50K', '<=50K'], [1, 0], inplace=True)
dataset

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,3,State-gov,1,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2,1,4,United-States,0
1,4,Self-emp-not-inc,1,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,1,1,2,United-States,0
2,3,Private,2,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,1,1,4,United-States,0
3,5,Private,2,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,1,1,4,United-States,0
4,2,Private,3,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,1,1,4,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,2,Private,2,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,1,1,4,United-States,0
32557,3,Private,2,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,1,1,4,United-States,1
32558,5,Private,2,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,1,1,4,United-States,0
32559,2,Private,2,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,1,1,2,United-States,0
32560,5,Self-emp-inc,2,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,2,1,4,United-States,1

## Spilting the given data into training and testing data

In [17]:
training_data = dataset.sample(frac=2/3)
training_data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
4051,2,Self-emp-not-inc,2,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Black,Male,1,1,4,United-States,0
12299,5,Private,1,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,1,3,7,United-States,1
16723,2,State-gov,2,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,1,1,3,United-States,0
16686,2,Private,2,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,White,Male,1,1,4,United-States,0
5726,1,Private,2,HS-grad,9,Separated,Machine-op-inspct,Own-child,White,Male,1,1,4,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20430,1,Private,1,9th,5,Never-married,Other-service,Own-child,White,Female,1,1,4,United-States,0
10969,2,Private,2,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,1,1,6,United-States,0
5251,3,Local-gov,2,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,1,1,4,United-States,1
3575,4,Private,3,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,1,3,4,United-States,1
29605,6,Private,2,Assoc-acdm,12,Married-civ-spouse,Exec-managerial,Husband,White,Male,1,1,5,United-States,0

In [18]:
testing_data = dataset.drop(training_data.index)
testing_data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
2,3,Private,2,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,1,1,4,United-States,0
7,5,Self-emp-not-inc,2,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,1,1,5,United-States,1
8,3,Private,1,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,2,1,5,United-States,1
14,3,Private,1,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,1,1,4,United-States,1
17,3,Private,2,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,1,1,4,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32541,4,Private,2,HS-grad,9,Separated,Prof-specialty,Not-in-family,Black,Female,1,1,4,United-States,0
32543,4,Local-gov,1,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,1,1,5,United-States,0
32544,3,Private,2,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,1,1,3,United-States,0
32550,4,Self-emp-not-inc,1,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,1,1,5,United-States,0
32553,3,Private,1,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,1,1,2,Taiwan,0

## Function which precomputes all conditional probabilities for each feature in the dataset

In [19]:
def precomp(training_data, alpha):
    prec = []
    positive_data = training_data[training_data['target'] == 1]
    negetive_data = training_data[training_data['target'] == 0]
    
    for column in training_data.columns[:-1]:
        prob = {}
        for value in training_data[column].value_counts().keys():
            prob[value] = []
            prob[value].append((len(negetive_data[negetive_data[column] == value]) + alpha)/(len(negetive_data)+14*alpha))
            prob[value].append((len(positive_data[positive_data[column] == value]) + alpha)/(len(positive_data)+14*alpha))
            prob[-1] = [alpha/(len(negetive_data) + 14*alpha), alpha/(len(positive_data) + 14*alpha)]
        prec.append(prob);
        
    return prec

## Function which returns the prior probability for a given class

In [20]:
def prior(training_data, target):
    return len(training_data[training_data['target'] == target])/len(training_data)

## Function which returns the conditonal probability for a certain feature value given precomputed values, feature, value of feature and the target class

In [21]:
def conditional_prob(prec, feature, value, target):
    if value in prec[feature]:
        prob = prec[feature][value][target]
        
    else:
        prob = 0
        
    if (prob==0):
        prob = prec[feature][-1][target]
    
    return prob

## Function which returns the predicted class for a testing example

In [22]:
def pred(testing_example, prec, pr1, pr2):
    p1 = pr1
    for i in range(14):
        p1 *= conditional_prob(prec, i, testing_example[i], 1)
    
    p2 = pr2
    for i in range(14):
        p2 *= conditional_prob(prec, i, testing_example[i], 0)
    
    if (p1 > p2):
        return 1
    else:
        return 0

## Function which evaluates the model and returns the confusion matrix

In [23]:
def evaluate(testing_set, prec, pr1, pr2):
    c_mat = np.zeros((2, 2))
    for testing_example in testing_set:
        y = testing_example[14]
        h = pred(testing_example, prec, pr1, pr2)
        if y==1 and h==1:
            c_mat[1][1]+=1
            
        elif y==1 and h==0:
            c_mat[1][0]+=1
            
        elif y==0 and h==0: 
            c_mat[0][0]+=1
            
        else:
            c_mat[0][1]+=1
            
    return c_mat

## Functions for Evaluation Metrics

In [24]:
def accuracy(c_mat):
    return (c_mat[0][0]+c_mat[1][1])/(c_mat[0][0] + c_mat[0][1] + c_mat[1][0] + c_mat[1][1])*100

def precision(c_mat):
    return (c_mat[1][1])/(c_mat[1][1] + c_mat[0][1])*100

def recall(c_mat):
    return (c_mat[1][1])/(c_mat[1][0] + c_mat[1][1])*100

def f1_score(c_mat):
    prec = precision(c_mat)
    rec = recall(c_mat)
    
    return (2*rec*prec)/(prec + rec)

In [25]:
prec = precomp(training_data, 120)
prec

[{3: [0.23179391203831123, 0.25043478260869567],
  -1: [0.006605383387460781, 0.017391304347826087],
  2: [0.2817196014752023, 0.08318840579710145],
  4: [0.16590521274838993, 0.27594202898550724],
  5: [0.09886057136566302, 0.16318840579710145],
  1: [0.09599823856443002, 0.017681159420289853],
  6: [0.0564209831012275, 0.06101449275362319],
  7: [0.019926239885506687, 0.025072463768115942],
  8: [0.009742940496504652, 0.019130434782608695]},
 {'Private': [0.7155832003082512, 0.5146376811594203],
  -1: [0.006605383387460781, 0.017391304347826087],
  'Self-emp-not-inc': [0.0728243518467551, 0.08898550724637681],
  'Local-gov': [0.06280618704243959, 0.07681159420289856],
  'State-gov': [0.04183409478725161, 0.05217391304347826],
  'Self-emp-inc': [0.02548577090328618, 0.07710144927536232],
  'Federal-gov': [0.02774261022733528, 0.051159420289855075],
  'Without-pay': [0.0071558320030825125, 0.017391304347826087],
  'Never-worked': [0.00693565255683382, 0.017391304347826087]},
 {2: [0.45846865195134034, 0.3927536231884058],
  -1: [0.006605383387460781, 0.017391304347826087],
  1: [0.3386910331920515, 0.30043478260869566],
  3: [0.11234656244839544, 0.10347826086956521],
  4: [0.020586778224252766, 0.026956521739130435],
  5: [0.009577805911818131, 0.019130434782608695],
  6: [0.006990697418395993, 0.017681159420289853],
  7: [0.006880607695271646, 0.017536231884057972],
  8: [0.006715473110585127, 0.017536231884057972],
  10: [0.006715473110585127, 0.017391304347826087],
  9: [0.006605383387460781, 0.017536231884057972]},
 {'HS-grad': [0.32801233004898994, 0.17855072463768115],
  -1: [0.006605383387460781, 0.017391304347826087],
  'Some-college': [0.22617933615896957, 0.15492753623188404],
  'Bachelors': [0.12214454780646226, 0.23115942028985506],
  'Masters': [0.03473330764573127, 0.10768115942028986],
  'Assoc-voc': [0.04480651731160896, 0.05217391304347826],
  '11th': [0.04788902955909066, 0.02289855072463768],
  'Assoc-acdm': [0.03489844223041779, 0.042463768115942026],
  '10th': [0.037540595585402105, 0.02391304347826087],
  '7th-8th': [0.030054494412946553, 0.021449275362318842],
  'Prof-school': [0.011669510651180713, 0.05927536231884058],
  '9th': [0.02394451477954533, 0.02],
  '12th': [0.021632630593934055, 0.020289855072463767],
  'Doctorate': [0.010623658281499422, 0.0455072463768116],
  '5th-6th': [0.01821984917707932, 0.01898550724637681],
  '1st-4th': [0.012550228436175483, 0.018115942028985508],
  'Preschool': [0.008311774095888149, 0.017391304347826087]},
 {9: [0.32801233004898994, 0.17855072463768115],
  -1: [0.006605383387460781, 0.017391304347826087],
  10: [0.22617933615896957, 0.15492753623188404],
  13: [0.12214454780646226, 0.23115942028985506],
  14: [0.03473330764573127, 0.10768115942028986],
  11: [0.04480651731160896, 0.05217391304347826],
  7: [0.04788902955909066, 0.02289855072463768],
  12: [0.03489844223041779, 0.042463768115942026],
  6: [0.037540595585402105, 0.02391304347826087],
  4: [0.030054494412946553, 0.021449275362318842],
  15: [0.011669510651180713, 0.05927536231884058],
  5: [0.02394451477954533, 0.02],
  8: [0.021632630593934055, 0.020289855072463767],
  16: [0.010623658281499422, 0.0455072463768116],
  3: [0.01821984917707932, 0.01898550724637681],
  2: [0.012550228436175483, 0.018115942028985508],
  1: [0.008311774095888149, 0.017391304347826087]},
 {'Married-civ-spouse': [0.30852644905598064, 0.6644927536231884],
  -1: [0.006605383387460781, 0.017391304347826087],
  'Never-married': [0.38349755050366047, 0.06376811594202898],
  'Divorced': [0.15247426652721968, 0.06188405797101449],
  'Separated': [0.041448780756316396, 0.024202898550724637],
  'Widowed': [0.039852479771013374, 0.024927536231884057],
  'Married-spouse-absent': [0.02086200253206363, 0.020289855072463767],
  'Married-AF-spouse': [0.007100787141520339, 0.018695652173913044]},
 {'Prof-specialty': [0.15214399735784664, 0.213768115942029],
  -1: [0.006605383387460781, 0.017391304347826087],
  'Exec-managerial': [0.08460395222106017, 0.21043478260869566],
  'Craft-repair': [0.12368580393020312, 0.10376811594202899],
  'Adm-clerical': [0.12550228436175484, 0.06507246376811594],
  'Sales': [0.10552099961468597, 0.11420289855072464],
  'Other-service': [0.12263995156052182, 0.030144927536231884],
  'Machine-op-inspct': [0.06979688446083558, 0.04144927536231884],
  'Transport-moving': [0.05234766334562668, 0.04971014492753623],
  'Handlers-cleaners': [0.052402708207188856, 0.026521739130434784],
  'Farming-fishing': [0.03886167226289426, 0.029420289855072463],
  'Tech-support': [0.03038476358231959, 0.043768115942028986],
  'Protective-serv': [0.02311884185611273, 0.03681159420289855],
  'Priv-house-serv': [0.011944734958991577, 0.017391304347826087],
  'Armed-Forces': [0.007045742279958166, 0.017536231884057972]},
 {'Husband': [0.2718665712555733, 0.5878260869565217],
  -1: [0.006605383387460781, 0.017391304347826087],
  'Not-in-family': [0.2792425827049045, 0.09753623188405797],
  'Own-child': [0.19375791269884957, 0.024927536231884057],
  'Unmarried': [0.12423625254582485, 0.03826086956521739],
  'Wife': [0.036164474046347775, 0.09144927536231884],
  'Other-relative': [0.041889139648813786, 0.020869565217391306]},
 {'White': [0.7660042934992018, 0.7052173913043478],
  -1: [0.006605383387460781, 0.017391304347826087],
  'Black': [0.10871360158529202, 0.05449275362318841],
  'Asian-Pac-Islander': [0.03368745527604998, 0.043623188405797104],
  'Amer-Indian-Eskimo': [0.01645841360708978, 0.02043478260869565],
  'Other': [0.015687785545219355, 0.01971014492753623]},
 {'Male': [0.5629988440579072, 0.6585507246376812],
  -1: [0.006605383387460781, 0.017391304347826087],
  'Female': [0.35773655529256343, 0.1327536231884058]},
 {1: [0.87664446523917, 0.6130434782608696],
  -1: [0.006605383387460781, 0.017391304347826087],
  2: [0.043815709803489845, 0.15492753623188404],
  5: [0.006605383387460781, 0.03260869565217391],
  3: [0.006880607695271646, 0.025507246376811593],
  4: [0.006605383387460781, 0.017391304347826087]},
 {1: [0.8860020917047393, 0.696376811594203],
  -1: [0.006605383387460781, 0.017391304347826087],
  3: [0.02636648868828095, 0.07942028985507246],
  4: [0.013485991082732426, 0.03246376811594203],
  2: [0.007871415203390764, 0.017536231884057972],
  5: [0.0067705179721473, 0.017681159420289853],
  6: [0.006660428249022954, 0.017391304347826087]},
 {4: [0.5247426652721968, 0.3708695652173913],
  -1: [0.006605383387460781, 0.017391304347826087],
  5: [0.13700666042824902, 0.24463768115942028],
  6: [0.05697143171684923, 0.12043478260869565],
  3: [0.08691583640667144, 0.03318840579710145],
  2: [0.0843287279132493, 0.029565217391304348],
  1: [0.03088016733637915, 0.02391304347826087],
  7: [0.020806957670501457, 0.03942028985507246],
  8: [0.01387130511366764, 0.02797101449275362],
  10: [0.00919249188088292, 0.020289855072463767],
  9: [0.00886222271150988, 0.020144927536231885]},
 {'United-States': [0.830571916111631, 0.7252173913043478],
  -1: [0.006605383387460781, 0.017391304347826087],
  'Mexico': [0.028843507458578742, 0.020579710144927536],
  'Philippines': [0.011339241481807674, 0.0236231884057971],
  'Germany': [0.010458523696812903, 0.020579710144927536],
  'Canada': [0.009632850773380304, 0.021014492753623187],
  'Puerto-Rico': [0.010293389112126383, 0.01884057971014493],
  'El-Salvador': [0.010293389112126383, 0.018260869565217393],
  'Cuba': [0.009467716188693786, 0.02],
  'India': [0.00886222271150988, 0.020579710144927536],
  'England': [0.008972312434634228, 0.020289855072463767],
  'Jamaica': [0.009302581604007265, 0.018260869565217393],
  'South': [0.008752132988385534, 0.01898550724637681],
  'Poland': [0.00853195354213684, 0.01884057971014493],
  'China': [0.008421863819012495, 0.01898550724637681],
  'Guatemala': [0.008917267573072053, 0.017681159420289853],
  'Vietnam': [0.00886222271150988, 0.017826086956521738],
  'Japan': [0.007926460064952937, 0.02],
  'Columbia': [0.008752132988385534, 0.017681159420289853],
  'Italy': [0.008036549788077283, 0.019420289855072465],
  'Dominican-Republic': [0.008642043265261188, 0.017681159420289853],
  'Taiwan': [0.007816370341828591, 0.019420289855072465],
  'Haiti': [0.008366818957450322, 0.017826086956521738],
  'Nicaragua': [0.007926460064952937, 0.017681159420289853],
  'Portugal': [0.007761325480266417, 0.017681159420289853],
  'Ecuador': [0.007596190895579898, 0.017971014492753623],
  'Iran': [0.007320966587769032, 0.01855072463768116],
  'France': [0.007265921726206858, 0.018695652173913044],
  'Greece': [0.007486101172455551, 0.017826086956521738],
  'Hong': [0.007265921726206858, 0.018115942028985508],
  'Peru': [0.007541146034017725, 0.017391304347826087],
  'Ireland': [0.007265921726206858, 0.017826086956521738],
  'Laos': [0.0072108768646446855, 0.017536231884057972],
  'Trinadad&Tobago': [0.0071558320030825125, 0.017681159420289853],
  'Yugoslavia': [0.00693565255683382, 0.017971014492753623],
  'Scotland': [0.007045742279958166, 0.017681159420289853],
  'Outlying-US(Guam-USVI-etc)': [0.007100787141520339, 0.017391304347826087],
  'Cambodia': [0.006825562833709473, 0.018115942028985508],
  'Thailand': [0.007045742279958166, 0.017536231884057972],
  'Hungary': [0.006990697418395993, 0.017536231884057972],
  'Honduras': [0.006880607695271646, 0.017391304347826087],
  'Holand-Netherlands': [0.006660428249022954, 0.017391304347826087]}]

In [26]:
pr1 = prior(training_data, 1)
pr2 = prior(training_data, 0)
pr1 + pr2

1.0

In [27]:
testing_set = testing_data.to_numpy()
c_mat = evaluate(testing_set, prec, pr1, pr2)
acc = accuracy(c_mat)
prec = precision(c_mat)
rec = recall(c_mat)
print(c_mat)
print(f"Accuracy: {acc}")
print(f"Preision: {prec}")
print(f"Recall: {rec}")

[[7558.  675.]
 [1149. 1472.]]
Accuracy: 83.1951354339414
Preision: 68.56078248719143
Recall: 56.16177031667302

## Naive Bayes Classifier using Laplace Smoothing Technique

In [28]:
accuracy_list = np.zeros(10)
precision_list = np.zeros(10)
recall_list = np.zeros(10)
f1_list = np.zeros(10)
for i in range(10):
    
    training_data = dataset.sample(frac=2/3)
    testing_data = dataset.drop(training_data.index)
    testing_set = testing_data.to_numpy()
    
    prec = precomp(training_data, 100)
    pr1 = prior(training_data, 1)
    pr2 = prior(training_data, 0)
    c_mat = evaluate(testing_set, prec, pr1, pr2)
    
    print(f"Model No.{i+1}")
    print(f"Confusion Matrix:\n{c_mat}")
    print(f"Accuracy = {accuracy(c_mat)}")
    print(f"Precision = {precision(c_mat)}")
    print(f"Recall = {recall(c_mat)}")
    print(f"F1-Score = {f1_score(c_mat)}")
    
    accuracy_list[i] =  accuracy(c_mat)
    precision_list[i] = precision(c_mat)
    recall_list[i] =  recall(c_mat)
    f1_list[i] = f1_score(c_mat)
    print("\n")
    
print(f"Accuracy:\n Mean = {accuracy_list.mean()}  Standard Deviation = {accuracy_list.std()}")
print(f"Precision:\n Mean = {precision_list.mean()}  Standard Deviation = {precision_list.std()}")
print(f"Recall:\n Mean = {recall_list.mean()}  Standard Deviation = {recall_list.std()}")
print(f"F1-Score:\n Mean = {f1_list.mean()}  Standard Deviation = {f1_list.std()}")

Model No.1
Confusion Matrix:
[[7503.  735.]
 [1062. 1554.]]
Accuracy = 83.44389165284689
Precision = 67.88990825688074
Recall = 59.403669724770644
F1-Score = 63.36391437308869


Model No.2
Confusion Matrix:
[[7497.  748.]
 [1101. 1508.]]
Accuracy = 82.96480560162152
Precision = 66.84397163120568
Recall = 57.799923342276735
F1-Score = 61.99383350462487


Model No.3
Confusion Matrix:
[[7480.  703.]
 [1140. 1531.]]
Accuracy = 83.0200847613783
Precision = 68.53178155774395
Recall = 57.319356046424566
F1-Score = 62.426095820591236


Model No.4
Confusion Matrix:
[[7543.  687.]
 [1126. 1498.]]
Accuracy = 83.29648056016215
Precision = 68.558352402746
Recall = 57.088414634146346
F1-Score = 62.29985443959243


Model No.5
Confusion Matrix:
[[7551.  764.]
 [1039. 1500.]]
Accuracy = 83.38861249309011
Precision = 66.25441696113074
Recall = 59.078377313903104
F1-Score = 62.46096189881324


Model No.6
Confusion Matrix:
[[7523.  799.]
 [1047. 1485.]]
Accuracy = 82.9924451814999
Precision = 65.01751313485113
Recall = 58.64928909952607
F1-Score = 61.66943521594684


Model No.7
Confusion Matrix:
[[7515.  700.]
 [1119. 1520.]]
Accuracy = 83.24120140040539
Precision = 68.46846846846847
Recall = 57.597574838954145
F1-Score = 62.56431364478288


Model No.8
Confusion Matrix:
[[7503.  765.]
 [1108. 1478.]]
Accuracy = 82.74368896259443
Precision = 65.89389210878288
Recall = 57.153905645784995
F1-Score = 61.213501760198795


Model No.9
Confusion Matrix:
[[7566.  646.]
 [1128. 1514.]]
Accuracy = 83.65579509858117
Precision = 70.0925925925926
Recall = 57.30507191521574
F1-Score = 63.05705955851728


Model No.10
Confusion Matrix:
[[7521.  707.]
 [1142. 1484.]]
Accuracy = 82.96480560162152
Precision = 67.73162939297124
Recall = 56.51180502665652
F1-Score = 61.6151131409591


Accuracy:
 Mean = 83.17118113138012  Standard Deviation = 0.2645390015582261
Precision:
 Mean = 67.52825265073736  Standard Deviation = 1.4410420861260738
Recall:
 Mean = 57.79073875876588  Standard Deviation = 0.8959143775629785
F1-Score:
 Mean = 62.26640833571154  Standard Deviation = 0.6281988448503463

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [30]:
target = dataset['target']
new_dataset = dataset.drop('target', axis=1)

In [31]:
new_dataset

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,3,State-gov,1,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2,1,4,United-States
1,4,Self-emp-not-inc,1,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,1,1,2,United-States
2,3,Private,2,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,1,1,4,United-States
3,5,Private,2,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,1,1,4,United-States
4,2,Private,3,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,1,1,4,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,2,Private,2,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,1,1,4,United-States
32557,3,Private,2,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,1,1,4,United-States
32558,5,Private,2,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,1,1,4,United-States
32559,2,Private,2,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,1,1,2,United-States
32560,5,Self-emp-inc,2,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,2,1,4,United-States

In [271]:
#new_dataset['workclass'].replace(new_dataset['workclass'].value_counts().keys(), list(range(len(new_dataset['workclass'].value_counts()))), inplace=True)
#new_dataset['marital-status'].replace(new_dataset['marital-status'].value_counts().keys(), list(range(len(new_dataset['marital-status'].value_counts()))), inplace=True)
#new_dataset['education'].replace(new_dataset['education'].value_counts().keys(), list(range(len(new_dataset['education'].value_counts()))), inplace=True)
#new_dataset['occupation'].replace(new_dataset['occupation'].value_counts().keys(), list(range(len(new_dataset['occupation'].value_counts()))), inplace=True)
#new_dataset['relationship'].replace(new_dataset['relationship'].value_counts().keys(), list(range(len(new_dataset['relationship'].value_counts()))), inplace=True)
#new_dataset['race'].replace(new_dataset['race'].value_counts().keys(), list(range(len(new_dataset['race'].value_counts()))), inplace=True)
#new_dataset['sex'].replace(new_dataset['sex'].value_counts().keys(), list(range(len(new_dataset['sex'].value_counts()))), inplace=True)
#new_dataset['native-country'].replace(new_dataset['native-country'].value_counts().keys(), list(range(len(new_dataset['native-country'].value_counts()))), inplace=True)

## Converting all Categorical Features to Numerical Features for Logistic Regression and K Nearest-Neighbors

In [32]:
for column in dataset.columns:
    if (dataset[column].dtype == 'object'):
        new_dataset[column].replace(new_dataset[column].value_counts().keys(), list(range(len(new_dataset[column].value_counts()))), inplace=True)

In [33]:
new_dataset

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,3,3,1,2,13,1,3,1,0,0,2,1,4,0
1,4,1,1,2,13,0,2,0,0,0,1,1,2,0
2,3,0,2,0,9,2,8,1,0,0,1,1,4,0
3,5,0,2,5,7,0,8,0,1,0,1,1,4,0
4,2,0,3,2,13,0,0,4,1,1,1,1,4,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,2,0,2,6,12,0,10,4,0,1,1,1,4,0
32557,3,0,2,0,9,0,6,0,0,0,1,1,4,0
32558,5,0,2,0,9,4,3,3,0,1,1,1,4,0
32559,2,0,2,0,9,1,3,2,0,0,1,1,2,0
32560,5,4,2,0,9,0,2,4,0,1,2,1,4,0

## Logistic Regression using Scikit Learn

In [34]:
# Logistic Regression
accuracy_list = np.zeros(10)
precision_list = np.zeros(10)
recall_list = np.zeros(10)
f1_list = np.zeros(10)
for i in range(10):
    
    x_train, x_test, y_train, y_test = train_test_split(new_dataset, target, test_size=1/3)
    
    logreg = LogisticRegression(max_iter = 10000)
    logreg.fit(x_train, y_train)
    y_pred = logreg.predict(x_test)
    
    print(f"Model No.{i+1}")
    print(f"Confusion Matrix:\n{metrics.confusion_matrix(y_test, y_pred)}")
    print(f"Accuracy = {metrics.accuracy_score(y_test, y_pred)*100}")
    print(f"Precision = {metrics.precision_score(y_test, y_pred)*100}")
    print(f"Recall = {metrics.recall_score(y_test, y_pred)*100}")
    print(f"F1-Score = {metrics.f1_score(y_test, y_pred)*100}")
    
    accuracy_list[i] =  metrics.accuracy_score(y_test, y_pred)*100
    precision_list[i] = metrics.precision_score(y_test, y_pred)*100
    recall_list[i] =  metrics.recall_score(y_test, y_pred)*100
    f1_list[i] = metrics.f1_score(y_test, y_pred)*100
    print("\n")
    
print(f"Accuracy:\n Mean = {accuracy_list.mean()}  Standard Deviation = {accuracy_list.std()}")
print(f"Precision:\n Mean = {precision_list.mean()}  Standard Deviation = {precision_list.std()}")
print(f"Recall:\n Mean = {recall_list.mean()}  Standard Deviation = {recall_list.std()}")
print(f"F1-Score:\n Mean = {f1_list.mean()}  Standard Deviation = {f1_list.std()}")

Model No.1
Confusion Matrix:
[[7705  559]
 [1278 1312]]
Accuracy = 83.07536392113506
Precision = 70.12292891501872
Recall = 50.656370656370655
F1-Score = 58.82089217664201


Model No.2
Confusion Matrix:
[[7673  562]
 [1296 1323]]
Accuracy = 82.88188686198636
Precision = 70.18567639257294
Recall = 50.51546391752577
F1-Score = 58.74777975133214


Model No.3
Confusion Matrix:
[[7595  592]
 [1279 1388]]
Accuracy = 82.76211534918002
Precision = 70.1010101010101
Recall = 52.04349456317961
F1-Score = 59.73746503120293


Model No.4
Confusion Matrix:
[[7602  578]
 [1309 1365]]
Accuracy = 82.6147042564953
Precision = 70.25218733916624
Recall = 51.047120418848166
F1-Score = 59.12930474333983


Model No.5
Confusion Matrix:
[[7710  551]
 [1257 1336]]
Accuracy = 83.34254652662612
Precision = 70.80021197668258
Recall = 51.52333204782106
F1-Score = 59.64285714285714


Model No.6
Confusion Matrix:
[[7705  543]
 [1322 1284]]
Accuracy = 82.81739450893679
Precision = 70.27914614121511
Recall = 49.270913277052955
F1-Score = 57.929167606586965


Model No.7
Confusion Matrix:
[[7705  540]
 [1274 1335]]
Accuracy = 83.28726736686936
Precision = 71.2
Recall = 51.16903027980069
F1-Score = 59.5450490633363


Model No.8
Confusion Matrix:
[[7649  564]
 [1282 1359]]
Accuracy = 82.9924451814999
Precision = 70.67082683307332
Recall = 51.457781143506246
F1-Score = 59.5530236634531


Model No.9
Confusion Matrix:
[[7664  583]
 [1291 1316]]
Accuracy = 82.73447576930164
Precision = 69.29963138493945
Recall = 50.4794783275796
F1-Score = 58.4110075454949


Model No.10
Confusion Matrix:
[[7725  552]
 [1249 1328]]
Accuracy = 83.4070388796757
Precision = 70.63829787234043
Recall = 51.53279006596818
F1-Score = 59.59165357864033


Accuracy:
 Mean = 82.99152386217062  Standard Deviation = 0.2633249270749205
Precision:
 Mean = 70.3549916956019  Standard Deviation = 0.4867657015992629
Recall:
 Mean = 50.9695774697653  Standard Deviation = 0.7410305310351956
F1-Score:
 Mean = 59.110820030288565  Standard Deviation = 0.5825191247728869

## K Nearest Neighbors (1 Neighbor) using Scikit Learn

In [284]:
# K Nearest Neighbours (No. of Neighbors = 1)
accuracy_list = np.zeros(10)
precision_list = np.zeros(10)
recall_list = np.zeros(10)
f1_list = np.zeros(10)
for i in range(10):
    
    x_train, x_test, y_train, y_test = train_test_split(new_dataset, target, test_size=1/3)
    
    knn = KNeighborsClassifier(n_neighbors=1)
    knn.fit(x_train, y_train)
    y_pred = knn.predict(x_test)
    
    print(f"Model No.{i+1}")
    print(f"Confusion Matrix:\n{metrics.confusion_matrix(y_test, y_pred)}")
    print(f"Accuracy = {metrics.accuracy_score(y_test, y_pred)*100}")
    print(f"Precision = {metrics.precision_score(y_test, y_pred)*100}")
    print(f"Recall = {metrics.recall_score(y_test, y_pred)*100}")
    print(f"F1-Score = {metrics.f1_score(y_test, y_pred)*100}")
    
    accuracy_list[i] =  metrics.accuracy_score(y_test, y_pred)*100
    precision_list[i] = metrics.precision_score(y_test, y_pred)*100
    recall_list[i] =  metrics.recall_score(y_test, y_pred)*100
    f1_list[i] = metrics.f1_score(y_test, y_pred)*100
    print("\n")
    
print(f"Accuracy:\n Mean = {accuracy_list.mean()}  Standard Deviation = {accuracy_list.std()}")
print(f"Precision:\n Mean = {precision_list.mean()}  Standard Deviation = {precision_list.std()}")
print(f"Recall:\n Mean = {recall_list.mean()}  Standard Deviation = {recall_list.std()}")
print(f"F1-Score:\n Mean = {f1_list.mean()}  Standard Deviation = {f1_list.std()}")

Model No.1
Confusion Matrix:
[[7104 1130]
 [1169 1451]]
Accuracy = 78.81886861986365
Precision = 56.218519953506394
Recall = 55.38167938931298
F1-Score = 55.796962122668724


Model No.2
Confusion Matrix:
[[7148 1102]
 [1176 1428]]
Accuracy = 79.01234567901234
Precision = 56.44268774703557
Recall = 54.83870967741935
F1-Score = 55.62913907284768


Model No.3
Confusion Matrix:
[[7091 1115]
 [1201 1447]]
Accuracy = 78.66224433388612
Precision = 56.47931303669008
Recall = 54.64501510574018
F1-Score = 55.547024952015356


Model No.4
Confusion Matrix:
[[7178 1083]
 [1205 1388]]
Accuracy = 78.92021374608439
Precision = 56.17159044921085
Recall = 53.52873119938295
F1-Score = 54.81832543443919


Model No.5
Confusion Matrix:
[[7076 1111]
 [1185 1482]]
Accuracy = 78.84650819974203
Precision = 57.15387581951408
Recall = 55.56805399325084
F1-Score = 56.349809885931556


Model No.6
Confusion Matrix:
[[7149 1035]
 [1219 1451]]
Accuracy = 79.23346231803943
Precision = 58.3668543845535
Recall = 54.34456928838951
F1-Score = 56.28394103956557


Model No.7
Confusion Matrix:
[[7124 1125]
 [1151 1454]]
Accuracy = 79.03077206559793
Precision = 56.378441256300896
Recall = 55.81573896353167
F1-Score = 56.09567901234568


Model No.8
Confusion Matrix:
[[7168 1092]
 [1141 1453]]
Accuracy = 79.42693937718813
Precision = 57.09233791748527
Recall = 56.01387818041634
F1-Score = 56.547966530453394


Model No.9
Confusion Matrix:
[[7088 1124]
 [1185 1457]]
Accuracy = 78.7267366869357
Precision = 56.45098798915149
Recall = 55.14761544284633
F1-Score = 55.79169059927245


Model No.10
Confusion Matrix:
[[7168 1084]
 [1200 1402]]
Accuracy = 78.95706651925558
Precision = 56.395816572807725
Recall = 53.88162951575711
F1-Score = 55.11006289308176


Accuracy:
 Mean = 78.96351575456053  Standard Deviation = 0.21860910041781387
Precision:
 Mean = 56.71504251262559  Standard Deviation = 0.634031517583505
Recall:
 Mean = 54.91656207560474  Standard Deviation = 0.7817235859460361
F1-Score:
 Mean = 55.797060154262134  Standard Deviation = 0.5211765241139978

## K Nearest Neighbors (3 Neighbors) using Scikit Learn

In [287]:
# K Nearest Neighbours (No. of Neighbors = 3)
accuracy_list = np.zeros(10)
precision_list = np.zeros(10)
recall_list = np.zeros(10)
f1_list = np.zeros(10)
for i in range(10):
    
    x_train, x_test, y_train, y_test = train_test_split(new_dataset, target, test_size=1/3)
    
    knn = KNeighborsClassifier(n_neighbors=3)
    knn.fit(x_train, y_train)
    y_pred = knn.predict(x_test)
    
    print(f"Model No.{i+1}")
    print(f"Confusion Matrix:\n{metrics.confusion_matrix(y_test, y_pred)}")
    print(f"Accuracy = {metrics.accuracy_score(y_test, y_pred)*100}")
    print(f"Precision = {metrics.precision_score(y_test, y_pred)*100}")
    print(f"Recall = {metrics.recall_score(y_test, y_pred)*100}")
    print(f"F1-Score = {metrics.f1_score(y_test, y_pred)*100}")
    
    accuracy_list[i] =  metrics.accuracy_score(y_test, y_pred)*100
    precision_list[i] = metrics.precision_score(y_test, y_pred)*100
    recall_list[i] =  metrics.recall_score(y_test, y_pred)*100
    f1_list[i] = metrics.f1_score(y_test, y_pred)*100
    print("\n")
    
print(f"Accuracy:\n Mean = {accuracy_list.mean()}  Standard Deviation = {accuracy_list.std()}")
print(f"Precision:\n Mean = {precision_list.mean()}  Standard Deviation = {precision_list.std()}")
print(f"Recall:\n Mean = {recall_list.mean()}  Standard Deviation = {recall_list.std()}")
print(f"F1-Score:\n Mean = {f1_list.mean()}  Standard Deviation = {f1_list.std()}")

Model No.1
Confusion Matrix:
[[7330  909]
 [1136 1479]]
Accuracy = 81.15901971623364
Precision = 61.93467336683417
Recall = 56.558317399617586
F1-Score = 59.12452528482909


Model No.2
Confusion Matrix:
[[7283  936]
 [1146 1489]]
Accuracy = 80.81813156440022
Precision = 61.4020618556701
Recall = 56.50853889943074
F1-Score = 58.853754940711454


Model No.3
Confusion Matrix:
[[7346  881]
 [1136 1491]]
Accuracy = 81.41698912843192
Precision = 62.85834738617201
Recall = 56.75675675675676
F1-Score = 59.651930386077225


Model No.4
Confusion Matrix:
[[7303  946]
 [1135 1470]]
Accuracy = 80.82734475769303
Precision = 60.84437086092716
Recall = 56.4299424184261
F1-Score = 58.55407289384584


Model No.5
Confusion Matrix:
[[7380  878]
 [1146 1450]]
Accuracy = 81.35249677538235
Precision = 62.2852233676976
Recall = 55.855161787365184
F1-Score = 58.89520714865964


Model No.6
Confusion Matrix:
[[7385  846]
 [1180 1443]]
Accuracy = 81.33407038879675
Precision = 63.04062909567497
Recall = 55.01334349980937
F1-Score = 58.754071661237795


Model No.7
Confusion Matrix:
[[7282  910]
 [1170 1492]]
Accuracy = 80.8365579509858
Precision = 62.11490424646128
Recall = 56.048084147257704
F1-Score = 58.92575039494472


Model No.8
Confusion Matrix:
[[7380  902]
 [1087 1485]]
Accuracy = 81.67495854063019
Precision = 62.21198156682027
Recall = 57.737169517884915
F1-Score = 59.891107078039916


Model No.9
Confusion Matrix:
[[7397  884]
 [1110 1463]]
Accuracy = 81.6288925741662
Precision = 62.33489561141883
Recall = 56.85969685192382
F1-Score = 59.47154471544715


Model No.10
Confusion Matrix:
[[7483  837]
 [1101 1433]]
Accuracy = 82.14483139856274
Precision = 63.12775330396476
Recall = 56.55090765588003
F1-Score = 59.65861781848459


Accuracy:
 Mean = 81.31932927952828  Standard Deviation = 0.408243237979807
Precision:
 Mean = 62.21548406616411  Standard Deviation = 0.6764677189700429
Recall:
 Mean = 56.43179189343522  Standard Deviation = 0.6723493221126917
F1-Score:
 Mean = 59.17805823222774  Standard Deviation = 0.4325378599561933